@model DoctorsOffice.Models.Doctor

<h4>Add a new doctor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.Label("Select specialty")
  @Html.DropDownList("SpecialtyId")
  
  <input type="submit" value="Add new doctor" />
}
<p>@Html.ActionLink("Show all doctors", "Index")</p>