@model DoctorsOffice.Models.Doctor;

<h2>Doctor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Doctor does not contain any patients</p>
}
else
{
  @* <h4>specialty</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Specialty.Name</li>
  }
  </ul> *@
  <h4>patients the Doctor contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Patient.Name</li>
  }
  </ul>
}
@if(@Model.Specialties.Count == 0)
{
  <p>This Doctor does not have any specialties.</p>
}
else
{
  <h4>Assigned Specialties</h4>
  <ul>
  @foreach(var join in Model.Specialties)
  {
    <li>@join.Specialty.Name
    @* @Html.ActionLink("Delete", "DeleteSpecialty", "Specialities", new { joinId = @join.SpecialtyDoctorId , DoctorId = Model.DoctorId }) *@
    </li>
  }
  </ul>
}
<p>@Html.ActionLink("Add a specilty", "AddSpecialty", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Back to doctors", "Index")</p>
<p>@Html.ActionLink("Edit Doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId })</p>