@model DoctorsOffice.Models.Patient

<h2>Edit</h2>

<h4>Edit this patient name: @Html.DisplayFor(model => model.Name)</h4>
<h4>Edit this patient birthdate: @Html.DisplayFor(model => model.Birthdate)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  
  @Html.LabelFor(model => model.Birthdate)
  @Html.EditorFor(model => model.Birthdate)

  @Html.Label("Select doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>